{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div>
    <div class="center">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}