{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div id="contact-box">
    <form>
        <h1>Contact</h1>
        <p><label>Email :<br>
            <input type="email" name="mail" class="input-full" required>
        </label></p>
        <p><label>Objet :<br>
            <input type="text" name="objet" class="input-full" required>
        </label></p>
        <p><label>Message :<br>
            <textarea name="message" class="input-full" required></textarea>
        </label></p>
        <input type="submit" value="Envoyez" class="btn-send">
    </form>
    <div>
        <img src="/img/contact.png" alt="contact image">
    </div>
</div>
{% endblock %}