{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<section id="legals">
    <h1 class="titre">Mentions légales</h1>
    <div id="legals-box">
        <div>
            <img src="/img/legals.png" alt="legals image">
        </div>
        <div>
            <p class="p-auto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In suscipit eaque veritatis cum optio, vel recusandae eos molestiae quidem placeat? Quia, porro! Totam, eius! Culpa in repellat unde necessitatibus tempora.
            Voluptates blanditiis ad deleniti similique alias odio eaque sint accusamus deserunt eveniet repellat, assumenda vel, quasi provident quos! Blanditiis est optio temporibus officia libero suscipit molestias officiis similique sed exercitationem!
            Assumenda magnam eaque quam fugit voluptatem deserunt, dignissimos non suscipit laudantium, possimus vero harum soluta nulla explicabo nihil saepe dicta debitis porro quo itaque inventore, perferendis ipsam? Molestias, non pariatur?
            Aliquam neque omnis, exercitationem inventore quidem laborum cumque, molestiae ad harum id quia ipsa dolores incidunt illum impedit at blanditiis similique eaque ducimus. Nesciunt, temporibus dicta perspiciatis incidunt sit qui!
            Tempore nesciunt saepe optio sequi officia! Officiis ab in corrupti accusantium incidunt vel non. Assumenda perspiciatis asperiores cumque perferendis molestias a optio enim quas, ad, in facere sed tenetur beatae!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio expedita aliquid mollitia fuga quibusdam obcaecati a veritatis quasi veniam explicabo maiores voluptas eaque velit corporis provident dolore, ullam earum ut!</p>
        </div>
    </div>
</section>
{% endblock %}