p, strong{
    font-size: 20px;
}

#infoFactu, #top{
    display: flex;
    justify-content: space-around;
}
body{
    margin:5%;
}
td{
    text-align: center;
}

img{
    height:200px;
    width:300px;
}

.table-recap{
    width: 100%;
}
.table-recap thead{
    background-color: rgb(153,118,74);
    height: 2em;
    color: white;
}
.table-recap tbody tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
}
.table-recap tbody tr td:first-child{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    text-align:center;
}
#right{
    text-align:right;
}
