@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: "Ubuntu", "sans-serif", monospace;;
    box-sizing: border-box;
}
html{
    --gris: #7F8076;
    --orange: rgb(255,121,0);
    --marron: rgb(153,118,74);
}
#turboContainer{
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    background-color: white;
    padding-bottom: 1em;
}
body{
    max-width: 1024px;
    margin:auto;
}
textarea{
    resize: none;
}
input:focus, button:focus ,textarea:focus{
    outline: 2px solid var(--orange)
}

/* HEADER */
header{
    position: sticky;
    top:0;
    z-index:1;
}
header nav{
    display:flex;
    justify-content:space-around;
    align-items: center;
    background-color: var(--gris);
}
header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0px;
}
header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 25px;
}
header nav ul li a:hover{
    color: var(--orange);
}
/* END HEADER */

/* HOME */
#banner{
    position: relative;
    text-align: center;
    color: var(--orange);
}
#banner img{
    width: 100%;
    height: 375px;
    object-fit: cover;
}
#banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#home-builder{
    display: flex;
}
#home-builder-descri{
    width: 48em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home-builder div img{
    width: 16em;
}
/* END HOME */

/* FAQ */
#faq{
    text-align: center;
}
#faq-box{
    display: flex;
}
#faq-accordeon{
    width: 48em;
}
#faq-accordeon .touche{
    display: flex;
    cursor: pointer;
}

#faq-accordeon div i{
    color: var(--orange);
    margin: 0.5em 0.5em 0 0;
    cursor: pointer;
}

#faq-accordeon div h3{
    background-color: rgb(211, 211, 211);
    margin: 0.5em 0 0 0;
}
#faq-accordeon div p{
    background-color: rgb(233, 233, 233);
    margin: 0 0 1em 0;
    padding: 1em 0;
}
#faq div div img{
    width: 16em;
    height: 25em;
}
/* END FAQ */

/* LEGALS */
#legals{
    text-align: center;
}
#legals-box{
    display: flex;
}
#legals-box div img{
    width:16em;
    height: 25em;
}
/* END LEGALS */

/* SHOP */
#sortBar{
    background-color: rgb(233, 233, 233);
    padding: 0.5em 0;
    margin-bottom: 1em;
}
#pagination ul{
    list-style: none;
    display:flex;
    justify-content: center;
    padding-left: 0;
}
#pagination ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border:1px solid gray;
}
#pagination ul li a:hover{
    background-color: var(--orange);
}
/* END SHOP */

/* SHOW_SHOP */
#show-shop-box{
    display: flex;
}
#show-shop-box div, #show-shop-box div img, #show-shop-comment div{
    width: 32em;
}
#show-shop-descri{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#show-shop-descri div{
    display: flex;
    justify-content: space-evenly;
}
#show-shop-descri div a .fa-screwdriver:hover{
    color:var(--orange);
}
#show-shop-descri div a .fa-heart:hover{
    color: red;
}
#show-shop-descri div a, #show-shop-descri div a .mya:hover, #show-shop-descri div a .a-delete:hover{
    color:black;
}
#show-shop-descri div a .fa-cart-shopping:hover{
    color:rgb(56, 99, 218);
}
#show-shop-star{
    display: flex;
    justify-content: space-evenly;
}
#show-shop-comment{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
}
/* END SHOW_SHOP */

/* ORDER */
#order-adress{
    display: flex;
}
#order-adress-factu, #order-adress-delivry{
    width: 32em;
}
/* END ORDER */

/* BUILDER */
#builder{
    height:700px;
    width:100%;
    display: flex;
    background-color: lightgray;
    justify-content: space-around;
    align-items: center;
}
#builder-left, #builder-right{
    height: 700px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.builder-box{
    width: 100%;
    height: 150px;
}
.builder-box img{
    width:153.6px;
    height:150px;
}
/* END BUILDER */

/* ACCOUNT */
.myul{
    padding-left: 0px;
    list-style: none;
}
/* END ACCOUNT */

/* FOOTER */
footer{
    background-color: var(--gris);
    color: white;
    text-align: center;
}
footer #foot-nav{
    display:flex;
    align-items: center;
    justify-content:space-evenly;
}
footer #foot-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0px;
}
footer #foot-nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 10px;
}
footer #foot-nav ul, footer form{
    width:200px;
}
footer div{
    text-align: right;
}
.fa-chevron-up{
    margin-right: 1em;
    cursor:pointer;
}
/* END FOOTER */

/* CLASS */
.p-auto{
    padding: 0 1rem;
}
.logo{
    width:100px;
}
.titre{
    margin-top: 0;
    padding-top: 1em;
}
.dnone{
    display: none;
}
.fa-bars, .fa-times{
    color:white;
    cursor:pointer;
    width: 24px;
}
.star, .star-bis{
    color:rgb(255, 149, 41);
}
.star-gray{
    text-decoration: none;
    color:var(--gris);
}
.price{
    font-size: 1.25em;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.mya{
    text-decoration: none;
    color:var(--orange);
}
.a-delete{
    text-decoration: none;
    color:red;
}
.disabled{
    pointer-events: none;
}
.my-1{
    margin-top:1em;
    margin-bottom: 1em;
}

.notif-success{
    background-color: lightgreen;
    border: 1px solid green;
}
.notif-error{
    background-color: lightcoral;
    border: 1px solid red;
}
.notif-success, .notif-error{
    width:100%;
    text-align: center;
    padding: 1em;
}


.badge{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: rgba(95, 69, 53, 0.76);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    right: 8px;
}
    /* FORM */
.form-full{
    text-align: center;
}
.input-full{
    width:75%;
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 2em;
}
.input-split{
    width:40%;
    padding: 5px 10px;
    border-radius: 2px;
    margin-bottom: 2em;
}
.btn-account{
    cursor: pointer;
    background-color: var(--marron);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 0;
}
.btn-account:hover{
    background-color: rgb(171, 132, 83);
}
.btn-send{
    cursor: pointer;
    background-color: rgb(56, 99, 218);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 0;
}
.btn-send:hover{
    background-color: rgb(74, 112, 215);
}
.btn-action{
    cursor: pointer;
    background-color: var(--orange);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 0;
}
.btn-action:hover{
    background-color: rgb(250, 139, 43);
}
.btn-danger{
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 0;
}
.btn-danger:hover{
    background-color: rgb(238, 82, 51);
}
    /* END FORM */

    /* CARTE PRODUIT */
.card-list{
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    grid-auto-rows: 0px;
    overflow-y: hidden;
}
.card-list-builder{
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    grid-auto-rows: 0px;
    overflow-y: hidden;
}
.card-list-shop{
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    grid-auto-rows: 0px;
    overflow-y: hidden;
}
.card{
    width:274px;
    height: 400px;
    /* border: 2px solid gray; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    text-align: center;
}
.card p{
    font-weight: bold;
}
.card img{
    width: 270px;
    height: 270px;
}
.card div{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5em;
}
.card div a i{
    width: 25px;
    height: 25px;
    color:black;
}
.card div a .mya{
    color:var(--orange);
}
.card div a .mya.fa-heart{
    color:red;
}
.card div a .mya:hover{
    color:black !important;
}
.card div a .fa-heart:hover{
    color:red;
}
.card div a .fa-screwdriver:hover{
    color:var(--orange);
}
.card div a .fa-cart-shopping:hover{
    color:rgb(56, 99, 218);
}
    /* END CARTE PRODUIT */
    /* TABLE PANIER / WISHLIST */
.table-recap{
    width: 100%;
}
.table-recap thead{
    background-color: var(--marron);
    height: 2em;
    color: white;
}
.table-recap tbody tr:nth-child(even) {
    background-color: rgb(233, 233, 233);
}
.table-recap tbody tr td:first-child{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.qte a{
    padding: 0.3em 0.5em;
    margin:  0.5em;
    width: 9px;
    border-radius: 50%;
    border:2px solid var(--gris);
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.qte a:hover{
    background-color: var(--gris);
    opacity: 0.5;
}
.table-recap tbody tr td a img{
    width: 4em;
    height: 4em;
}
    /* END TABLE PANIER / WISHLIST */

    /* MODAL */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}
.modal-content{
    background-color: grey;
    margin: auto;
    padding: 20px;
    border: solid 1px #888;
    width: 80%;
}
.close{
    color:#aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#myBtn{
    height: 2rem;
    background-color: red;
    border-style: solid;
    color: white;
}
    /* END MODAL */
/* END CLASS */

/* RESPONSIVE */
@media screen and (max-width:820px) {
    .card-list, .card-list-builder, .card-list-shop{
        grid-template-columns: repeat(2,1fr);
    }
    .card-list-shop{
        grid-template-rows: repeat(5,1fr);
        row-gap: 1em;
    }
    .card-list-builder{
        grid-template-rows: repeat(3,1fr);
        row-gap: 1em;
    }
    .card-list{
        grid-template-rows: repeat(2,1fr);
    }
    #pagination ul{
        flex-direction:column;
    }
    #pagination ul li{
        margin-bottom:10px;
    }
    #sortBar form{
        display:flex;
        flex-direction:column;
        align-items: center;
        gap: 8px;
    }

    header nav{
        flex-wrap: wrap;
    }
    header nav ul{
        display:none;
        flex-direction:column;
        height:250px;
        justify-content: space-evenly;
    }
    header nav div{
        display:flex;
        justify-content:space-around;
        align-items:center;
        width:100%;
    }
    #burger{
        display:block;
    }
    #sort_bar_categorie, #sort_bar_prixUn, #sort_bar_prixDeux{
        width: 60%;
    }
}

@media screen and (max-width:576px) {
    #show-shop-box{
        flex-direction: column;
    }
    #show-shop-comment{
        grid-template-columns: repeat(1,1fr);
    }
    #banner img, #home-builder div img{
        display:none;
    }
    #banner h1{
        position:initial;
        transform:translate(0,0);
    }
    #home-builder{
        flex-direction:column;
    }
    #home-builder-descri{
        width:100%;
    }
    .card-list, .card-list-builder, .card-list-shop{
        grid-template-columns: repeat(1,1fr);
        row-gap: 1em;
    }
    .card-list-shop{
        grid-template-rows: repeat(9,1fr);
    }
    .card-list-builder{
        grid-template-rows: repeat(6,1fr);
    }
    .card-list{
        grid-template-rows: repeat(2,1fr);
    }

    footer #foot-nav{
        flex-direction: column;
    }
    footer #foot-nav form{
        text-align: center;
    }
    footer #foot-nav form input{
        margin-bottom: 1rem;
    }
}

/* END RESPONSIVE */