{% extends 'base.html.twig' %}

{% block title %}Builder{% endblock %}

{% block body %}

<div class="center">
    <h1>Builder</h1>
    <div id="builder-box">
        <div id="builder-left">
            <div>

            </div>

            <div>

            </div>

            <div>

            </div>
        </div>

        <p>Coucou</p>

        <div id="builder-right">
            <div>

            </div>

            <div>

            </div>

            <div>

            </div>
        </div>
    </div>
    
    <p>Coucou</p>
</div>

{% endblock %}
